[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
faker = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
ipdb = "*"
pytest = "*"
importlib-metadata = "*"
importlib-resources = "*"
sqlalchemy_serializer = "*"

[dev-packages]

[requires]
python_version = "3.8"
